@model IEnumerable<ProjektZespolowy.Models.AirLines.AirlineViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Lista linii lotniczych</h2>

@using (Ajax.BeginForm(new AjaxOptions
{
    Url = Url.Action("AirLineList", "AirLines"),
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "AirlinesList"
}))
{
    <div class="form-group form-inline">
        <input type="text" name="search" class="form-control" placeholder="Nazwa linii lotniczej" />
        <input type="submit" value="Szukaj" class="btn btn-primary" />
    </div>
}

<div id="AirlinesList">
    @Html.Action("AirLineList", "AirLines")
</div>
