@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Linie lotnicze</h1>
    <p class="lead">Uzyskaj dostęp do największego wyboru linii lotniczych i lotów w internecie. Aplikacja łączy się bezpośrednio z wieloma liniami lotniczymi na świecie, by dostarczyć Ci największy wybór lotów w najniższych możliwych cenach.</p>
</div>