@model IEnumerable<ProjektZespolowy.Models.Flights.FlightViewModel>

@{
    ViewBag.Title = "Loty";
}

<h2>Loty</h2>

@using (Ajax.BeginForm(new AjaxOptions
{
    Url = Url.Action("FlightsList", "Flights"),
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "list"
}))
{
    <div class="form-group form-inline">
        <select name="routeId" class="form-control">
            <option value="" selected>Wybierz trasę</option>
            @foreach (var route in ViewBag.Routes)
            {
                <option value="@route.AirRouteId">@route.StartAirportCode - @route.FinishAirportCode </option>
            }
        </select>
        <input type="submit" value="Szukaj" class="btn btn-primary" />
    </div>
}

<div id="list">
    @Html.Action("FlightsList", "Flights")
</div>
