@model IEnumerable<ProjektZespolowy.Models.AirPort.AirPortViewModel>

@{
    ViewBag.Title = "Lotniska";
}

<h2>Lotniska</h2>

@using (Ajax.BeginForm(new AjaxOptions
{
    Url = Url.Action("AirportsList", "Airports"),
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "list"
}))
{
    <div class="form-group form-inline">
        <input type="text" name="search" class="form-control" placeholder="Nazwa lotniska" />
        <input type="text" name="code" class="form-control" placeholder="Kod lotniska" />
        <input type="submit" value="Szukaj" class="btn btn-primary" />
    </div>
}

<div id="list">
    @Html.Action("AirportsList", "Airports")
</div>